@{
    ViewData["Title"] = "Home Page";
}
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js" type="text/javascript"></script>  
<script>
    $(document).ready(function(){
        $('.text_area').keypress(function(event){
            var key = event.keyCode;
            if(key == 13){
                console.log("made it into if chekc")
                $('form.msg_form').submit();
                return false;
            }
        })
        $(document).keypress(function(event){
            var event = event || window.event;
            var player = $('.player');
            var player_pos = player.position()
            switch(String.fromCharCode(event.keyCode).toUpperCase()) {

                case 'A':
                    if(player_pos.left >= 50){
                        player.stop().animate({
                            'left' : "-=15px"
                        }, "fast");
                    }
                    break;

                case 'W':
                    if(player_pos.top >= 50){
                       player.stop().animate({
                            'top' : "-=15px"
                        }, "fast");
                    }
                    
                    break;

                case 'D':
                    if(player_pos.left <= 980 ){
                        player.stop().animate({
                            'left' : "+=15px"
                        }, "fast");
                    }
                    break;

                case 'S':
                    if(player_pos.top <= 530){
                        player.stop().animate({
                            'top' : "+=15px"
                        }, "fast");
                    }
                    break;
            }
        })
    });
</script>   
<div class="map">
    @{

        foreach (var row in ViewBag.map.map){
            <div class="row">
            @foreach (var tile in row){
                <span class=@tile.type ></span>}
        
            </div>
        }
    }
</div>

<div class="player"></div>
<div class="other_player"></div>

<div class="message_box">
    @{
        foreach (var message in ViewBag.messages){
            <p class="message"> >>@message.PlayerName says: @message.Content</p>
        }
    }
    <p class="message">>>WELCOME TO THE DUNGEON OF DEATH</p>
</div>
<div class="text_area">
    <form action="addmessage" method="post" class="msg_form">
        <input type="hidden" value="shmash" name="user_name">
        <textarea placeholder="send a message" name="content" class="add_message"></textarea>
    </form>
</div>
